<div>
    <h3 style="background-color:whitesmoke;padding: 10px">{{pageTitle}}</h3>
    <div>
        Filter By: <input type='text' [(ngModel)]='listFilter' />
    </div>
    <br>
    <div>
        <h4>Filtered by : {{listFilter}}</h4>
    </div>
    <button (click)='toggleImage()'>{{showImage? 'Hide': 'Show'}} Image</button>
  
     <br>
    <br>
    <table *ngIf="players && players.length > 0" >
        <thead>
            <tr>
                <th>Image</th>
                <th>Rank</th>
                <th>Player</th>
                <th>Country</th>
                <th>Total Grand Slams</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of filteredPlayers">
                <td>
                    <img *ngIf="showImage" [src]='player.imageUrl' [style.width.px]='imageWidth' />
                </td>
                <td>{{player.rank}}</td>
                <td>{{player.playerName }}</td>
                <!-- <td>{{player.country | uppercase}}</td> -->
                <td><app-country-flag [countryCode]='player.countryCode' (flagClick)="countryFlagClicked($event)"></app-country-flag></td>
                <td>{{player.totals}}</td>

            </tr>
        </tbody>
    </table>
</div>